{% load static %}
<!DOCTYPE html>
<html>
{% include "shravanmanagemet/header.html" %}
   <style>
     .details-title{
         font-size:18px;
         font-weight:600;
         margin-top:10px;
         margin-bottom:10px;
         margin-left: 12px;
     }
   </style>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">
{% include "shravanmanagemet/navbar.html" %}
   <div class="content-wrapper">
     <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Icare Partner Schedule Report</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="shravancare_dashboard_frame.html">Home</a></li>
              <li class="breadcrumb-item active">Icare Partner Schedule Report</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- SELECT2 EXAMPLE -->
        <div class="card card-default">
          <div class="card-header">
            <h3 class="card-title">Icare Partner Schedule Report</h3>
          </div>
  
           
           
            <div class="card-body">
 <div class="row">
     <div class="col-lg-6 col-md-6 col-xs-6">
         <h4 class="details-title">Icare Partner Details</h4>
         <table class="table table-borderless">
  <!--<thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>-->
  <tbody>
    <tr>
      <td>Name:</td>
      <td>Nigel George</td>
    </tr>
    <tr>
      <td>Mobile Number:</td>
      <td>+91 1234567890</td>
    </tr>
    <tr>
      <td>Email Id:</td>
      <td>nigel@gmail.com</td>
    </tr>
    <tr>
      <td>City:</td>
      <td>Mumbai</td>
    </tr>
    <tr>
      <td>Address:</td>
      <td>ABC Street, Mumbai, 400002</td>
    </tr>
    <tr>
      <td>Description</td>
      <td>Icare Partner Description</td>
    </tr>
  </tbody>
</table>
         
     </div>
 </div>
 
 
 
 
 
        </div>
        </div>
        </div>
        </section>
 </div>
 {% include "shravanmanagemet/copyright.html" %}
 </div>
 
  {% include "shravanmanagemet/footer.html" %}
<script>
   
    
</script>
	</body>
</html>
