{% load static %}
<!DOCTYPE html>
<html>
{% include "shravanmanagemet/header.html" %}
<body class="hold-transition sidebar-mini layout-fixed">
   
<div class="wrapper">
{% include "shravanmanagemet/navbar.html" %}
    <div class="content-wrapper">

  <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Employee Grid </h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="shravancare_dashboard_frame.html">Home</a></li>
              <li class="breadcrumb-item active">Employee Grid</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
   <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
	
            
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                  <div class="col-md-3">    <a href="{% url 'addEmployee' %}" ><button type="button" class="btn btn-block btn-primary"><i class="glyphicon  glyphicon-plus"></i>Add New Employee</button></a>
         
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
<table id="emp-grid-table" class="table table-bordered table-striped">
<thead>
                     <tr>
                       
                        
                        <th>Username</th>
                        <th>Employee Name</th>
                        <th>Designation</th>
                        
                        <th>IsActive</th>
                        <th>Action</th>
                      </tr>
                  </thead>
<tbody>
  {% for emps in emp %}
  <tr>
    <td>{{emps.user.username}}</td>
    <td>{{emps.name}}</td>
    <td>{% if emps.user.is_management %}Management{% endif %} {% if emps.user.is_icare %}ICare Partner{% endif %}</td>
    
    <td>{% if emps.user.is_active %} <i class="fas fa-user-check"></i>{% else %}<i class="fas fa-user-times"></i>{% endif %}</td>

    
                     
    <td> <div class="btn-group">
      <a href="{% url 'passwordReset' emps.user %}"></a><button type="button" class="btn btn-info"><i class="fa fa-key"data-placement="auto" title="Password Reset"></i></button> </a>           
      <a href="{% url 'viewEmployee' emps.user %}"><button type="button" class="btn btn-bg btn-primary" s><i class="fa fa-eye" data-toggle="tooltip" data-placement="auto" title="View"></i></button></a>
  
      <a href="{% url 'editEmployee' emps.user %}"><button type="button" class="btn  btn-warning" ><i class="fa fa-edit" data-toggle="tooltip" data-placement="auto" title="Edit"></i></button></a>
      
      </div></td>
   

  </tr>
{% endfor %}
  
                    
                     
                  </tbody>
                
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
     <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->

 </div>
 {% include "shravanmanagemet/copyright.html" %}
 </div>
  <!-- /.content-wrapper -->
  {% include "shravanmanagemet/footer.html" %}
   <script>
       $('#emp-grid-table').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": true,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
    });
   </script>
	</body>
</html>