{% load static %}
<!DOCTYPE html>
<html>
{% include "shravanmanagemet/header.html" %}
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">
{% include "shravanmanagemet/navbar.html" %}
   <div class="content-wrapper">
     <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>State Form</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">State Form</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
  <form action="" method="POST" name="state-form" enctype="multipart/form-data">
    {% csrf_token %}
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- SELECT2 EXAMPLE -->
        <div class="card card-default">
          <div class="card-header">
            <h3 class="card-title">State</h3>

          
          </div>
  
           
           
            <div class="card-body">
                <div class="row">
                   
              <div class="col-lg-6 col-md-6 col-xs-6">
          <div class="form-group">
                <label for="inputStatus">Country</label>
                <select class="form-control custom-select" {{view}} name="country" id="country" required>
           <option value>SELECT COUNTRY</option>         
           {% for county in country %}        
          <option value="{{county.id}}" {% if county.id == satedetail.country.id %} selected="selected" {% endif %} >{{county.country_name}}</option>
          {% endfor %}
          </select>
              </div>
         </div>
         
       
        	
              
 </div>
 <div class="row">
   <div class="col-lg-6 col-md-6 col-xs-6">
         <div class="form-group">
                    <label for="customerName">State Name</label>
                    <input type="text" class="form-control" {{view}} name="state" id="state" placeholder="State Name" required value="{{statedetail.state_name}}" >
                  </div>
        </div>  
 </div>
 <div class="row">
   <div class="col-lg-6 col-md-6 col-xs-6">
         <div class="form-group" id="gst-code-field">
                    <label for="customerName">G.S.T. Code</label>
                    <input type="text" class="form-control" {{view}} name="gst-code" id="gst-code" placeholder="G.S.T. Code"  value="{{statedetail.gst_code}}" >
                  </div>
        </div>   
 </div>
 
 
 <div class="box-footer">
                   
              <div class="row">
                 
                                  <div class="col-md-3">
            	<div class="form-group">
                <button type="submit" id="savebutton" {{view}} name="savebutton" class="btn btn-block btn-primary">Submit</button>
              </div>
              </div>            <div class="col-md-3">
            	<div class="form-group">
                <a href="{% url 'gridState' %}"><button type="button" class="btn btn-block btn-secondary" >Exit</button></a>
              </div>
            </div>
           
            </div>  </div>
 
        </div>
        </div>
        </div>
        </section>
        </form>
 </div>
 {% include "shravanmanagemet/copyright.html" %}
 </div>
 
  {% include "shravanmanagemet/footer.html" %}
<script>
    $("#country").change(function () {
         if ($(this).val() == "1") {
             $("#gst-code-field").show();
         }
         else{
            $("#gst-code-field").hide(); 
         }
    });
</script>
	</body>
</html>
